<% provide :title, 'About Aikido' %>

<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7">
    	<h2>合氣道</h2>
      <p class="lead">
      	合气道，是开祖植芝盛平翁（1883~1969）钻研日本传统武术的深奥意义，经过严厉的的精神修行使之发 展成为现代的武艺。合气道不在力量上与对方相争，而从“入身IRIMI”和“转换TENKAN”运动产生的技能， 由于目的是制止对方的暴力，因此不杀伤对方的生命。可以说是对人生命的尊重，称誉为适合现代的武艺。这 也是合气道被认为是“和好”的武艺的原因。<br>
				合气道不进行比赛。通过彼此之间反复的练习达到技能的熟悉度，将身心锻炼作为目的，谁都能练习。坚 持长期的练习对健康的好处自不必说，在日常生活中什么事都能以积极的心态去面对，自信心也自然而然的被 培养出来。 因为在道场中，许多不同年龄、性别、职业、国籍的人聚集在一起，加强了人际交往，加深了理解 和沟通。合气道的练习没有结束。如果开始了练习就要坚持的练下去，不厌倦、不松懈寻找自己的合气道精神。 坚持练习是取得进步的第一步。也可以说是修习合气道的重要条件。
      </p>
    </div>
    <div class="col-md-5">
      <%= image_tag("O-Sensei.jpg",width: '300', class: "featurette-image img-responsive center-block") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
				<p>
					合气道，是古武策略（主要包括柔术、剑术）和吸取中国古来的武术等由开祖创造提高了的武艺。从创造当初发展到现在的技能慢慢简略了所谓的“实战性”，因此被 认为是“老少皆宜的健康法”。但是，我们做练习的每个技能，如果做法不对或没注意的话即变成危险的技能。所以我们发誓，即使知道合气道的秘诀但决不使用。<br>
					合气道的练习中，在周围其他的人也练习着，确实是“实战”状态。不知何时另外练习的一对会跳入撞过来。一边做“取方TORI”，一边做“受身UKEMI”时，要一直 注意着四面八方做练习的人，免得互相撞伤。“取方TORI”的人需要注意，即使自己的技能练习被隔断了，也要向安全的地方把对方摔掉。“受身UKEMI”的人不要盲目地 被摔掉地做受身，自己也确保了安全的地方之后，做受身安全着地。另外，我们不接受像跳舞般的“合谋练习”。因为，合气道的练习中一举一动要像用真刀比赛一样集中精 神。虽然说练习要像用真刀比赛一样认真，但合气道没有比赛。因而不能准确判断优劣，反过来说没有竞争优劣的思想。<br>
					练习合气道中，做某种程度的“用力抵抗对方”也是一种练习方法。可是，练习合气道“固定的技法WAZA”的过程中，在有合气道经验者之间的勉强（用力抵抗）是无 意义的。因为彼此怎么进攻十分明显，只用一个技能来破掉对方是困难的。如果仍然被对抗，那么看情况，踢还是咬就行了。那才是“实战”。如果过度热衷于“互相抵抗”， 不留神、忽视周围有人，结果导致自己受伤或撞伤别人，那就是本末倒置了。同时，在本爱好会合气道练习中禁止，作为“实践”利用合气道之外的武术技能。这种行为也是导 致受伤的原因之一。<br>
					“实战怎么做？”类似的提问很多。因此这个词被用的很多，可是我们希望“实战”等词汇不要轻率的说出来。所谓实战，如果以大的规模说就是战争，如果往小的方面说， 就如街头流氓纠缠等。就好比平时练习时说出“好了，拿一只手交叉取，开始。”之类的在说的时候，如果在实战中已经是用枪被射击或用小刀被刺了。我们认为通过练习合气 道，能锻炼好自己不接近种种的危机---的灵感，培养好“直觉”、“感”、“官”，要坚持练习。
					希望能以愉快舒畅的心情来练习合气道！
				</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag("home-idea.jpg",width: '500', class: "featurette-image img-responsive center-block") %>
    </div>
  </div>