<% provide :title, 'Home' %>
<div class="row home-body">
  <div class="col-md-8 col-md-offset-2">
  	<div class="home-introduce">
  		<h1>合気道上海秋风馆</h1>
	  	<p>
	  		秋为荣景，借敝馆相师广友，绵薄之力， 愿合气盛荣。<br>
				秋为有成，吾欲细心耕耘，不求速达， 但有小成。<br>
				秋风习习，不及夏雨贯耳 ，冬雪凄厉，浑然天成 ，扫天下落叶。<br>
				合气之道， 如是也。
	  	</p>
	  	<p>
	  		我们保持开放积极的心态，鼓励与外界其他道场的交流学习，努力推进合气道在中国的普及，使合气道被越来越多的国人所了解和喜爱。
	  	</p>
  	</div>

  	<div class="home-idea">
  		<div class="row">
			  <div class="col-md-4"><%= image_tag("home-idea.jpg", height: '240', width: '200') %></div>
			  <div class="col-md-8">
			  	<h1>道場設立理念</h1>
			  	<p>
			  		合气道是一种后发先制、刚柔相济，阴阳相变，周流圆活，以巧取胜的一种实用技术，秋风馆始终传承注重保护、崇尚礼仪的安全练习，时刻心念保护对手的精神，秉承“心性”的锻炼才是合气道锻炼的本旨，让每一个来参加练习的人都能微笑快乐，并从合气道的道理中获得收益。
			  	</p>
			  </div>
			</div>
  	</div>

  	<div class="home-idea">
  		<div class="row">
			  <div class="col-md-8">
			  	<h1>关于合気道</h1>
			  	<p>
			  		合气道是一种后发先制、刚柔相济，阴阳相变，周流圆活，以巧取胜的一种实用技术，秋风馆始终传承注重保护、崇尚礼仪的安全练习，时刻心念保护对手的精神，秉承“心性”的锻炼才是合气道锻炼的本旨，让每一个来参加练习的人都能微笑快乐，并从合气道的道理中获得收益。
			  	</p>
			  </div>
			  <div class="col-md-4"><%= image_tag("O-Sensei.jpg", height: '240', width: '200') %></div>
			</div>
  	</div>

  	<div class="home-idea">
	  	<h1>指導者</h1>
	  	<h3>朱博海（三段）</h3>
	  	<p><%= image_tag("zbh.jpg", width: '620') %></p>
	  	<p>
	  		合气道是一种后发先制、刚柔相济，阴阳相变，周流圆活，以巧取胜的一种实用技术，秋风馆始终传承注重保护、崇尚礼仪的安全练习，时刻心念保护对手的精神，秉承“心性”的锻炼才是合气道锻炼的本旨，让每一个来参加练习的人都能微笑快乐，并从合气道的道理中获得收益。
	  	</p>
  	</div>

  	<div class="home-idea">
	  	<h1>副指導者</h1>
	  	<h3>马老师（三段）</h3>
	  	<p><%= image_tag("mls.jpg", width: '620') %></p>
	  	<p>
	  		合气道是一种后发先制、刚柔相济，阴阳相变，周流圆活，以巧取胜的一种实用技术，秋风馆始终传承注重保护、崇尚礼仪的安全练习，时刻心念保护对手的精神，秉承“心性”的锻炼才是合气道锻炼的本旨，让每一个来参加练习的人都能微笑快乐，并从合气道的道理中获得收益。
	  	</p>
  	</div>
  	
  </div>
</div>