@import "bootstrap-sprockets";
@import "bootswatch/simplex/variables";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 32px;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  letter-spacing: -1px;
  padding-top: 6px;
  padding-bottom: 6px;
}

nav {
	margin-top: 6px;
}

.banner {
	margin-top: -18px;
}

/* home-introduce */

.home-body {
  margin-top: 38px;
}

p {
  font-size: 16px;
  color: #424242;
}

.home-idea {
  margin-top: 70px;
}

.O-Sensei {
  margin-top: 60px;
}
